@import "./_variables.scss";

.homepage {
  section {
    overflow: hidden;
  }
  .art-scroller-parent {
    text-align: center;
    justify-content: center;
    // justify-content: space-around;
    flex-direction: row;
    // width: 100%;
    width: calc(100% - 20px);
    margin-left: 10px;
    gap: 40px;
  }
  .artwork {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    // max-height: 100%;
  }
  .artist-statement-parent {
    // flex: 0;
    // position: relative;
    // flex-basis: 200px;
    // .artist-statement {
    //   background: #f6f6f6;
    //   border-radius: 6px;
    //   padding: 20px;
    //   position: absolute;
    //   top: 50%;
    //   transform: translate3d(0, -50%, 0);
    //   box-shadow: 0 2px 2px 2px rgba(0,0,0,0.1);
    // }
  }
	@media screen and (max-width: 900px) {
    .artist-scroller-parent {
      display: block !important;
    }
	}
  h1 {
    line-height: 1.4;
    font-size: 16px;
    margin-top: 20px;
  }
  .about-text {
    p {
      font-size: 12px;
      font-family: "Overpass", monospace;
      color: grey;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }
}

