@import "./_variables.scss";

.gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;

	li,
	label {
		height: 260px;
		margin: 4px;
		margin-bottom: 8px;
		flex-grow: 0;
		img {
			max-height: 100%;
			max-width: 100%;
			object-fit: cover;
			vertical-align: bottom;
		}
	}
}

@media screen and (max-width: 500px) {
	.gallery {
		justify-content: space-around;
	}
}

input:not(:checked)+div {
	display: none
}

.overlay {
	z-index: 1000;
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	.modal {
		// width: 800px;
		// height: 800px;
		max-width: calc(100% - 10px);
		max-height: calc(100% - 10px);
		background: white;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		.content-container {
			text-align: center;
			margin: 20px;
			img {
				max-height: 40vh;
				max-width: 80vw;
				object-fit: cover;
				vertical-align: bottom;
				margin-bottom: 20px;
			}
			.page-content {
				text-align: left;
				h1 {
					font-style: italic;
				}
				.about-text {
					margin: 10px 0;
					font-size: 12px;
				}
			}
		}
	}
}