@import "./_variables.scss";

.gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;

	li,
	label {
		height: 260px;
		margin: 4px;
		margin-bottom: 8px;
		flex-grow: 0;
		img {
			max-height: 100%;
			max-width: 100%;
			object-fit: cover;
			vertical-align: bottom;
		}
	}
}

input:not(:checked)+div {
	display: none
}

.overlay {
	z-index: 9999;
	position: fixed;
	inset: 0;
	background-color: white;
	.modal {
		// width: 800px;
		// height: 800px;
		max-width: calc(100% - 10px);
		max-height: calc(100% - 10px);
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		.content-container {
			text-align: center;
			img {
				max-height: calc(100vh - 340px);
				max-width: 90vw;
				object-fit: cover;
				vertical-align: bottom;
			}
			.page-content {
				margin-top: 20px;
				text-align: left;
				h1 {
					font-style: italic;
				}
				.about-text {
					color: #888;
					display: inline-block;
					margin: 10px 0;
					font-size: 11px;
				}
				.quote-attribution {
					text-align: right;
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.gallery {
		justify-content: space-around;
	}

	.overlay {
		.modal {
			.content-container {
				img {
					max-height: 60vh;
					max-width: calc(100vw - 30px);
				}

				.page-content {
					h1 {
						font-size: 18px;
					}

					.about-text {
						font-size: 12px;
					}

				}
			}
		}
	}
}

a.buy-print-link {
	// border: 1px solid black;
	padding: 4px 10px;
	font-size: 12px;
	color: white;
	background-color: black;
	text-decoration: none;
	// border-radius: 4px;

	&:hover {
		color: black;
		background: #555;
	}
	&:visited {
		color: white;
	}
}