ul.links {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style-type: none;
	font-size: 48px;
	a {
		font-style: normal;
		text-decoration: none;
	}
}
@media screen and (max-width: 700px) {
	ul.links {
		font-size: 40px;
	}
}
@media screen and (max-width: 600px) {
	ul.links {
		font-size: 34px;
	}
}