{% macro header() %}
<header style="position: absolute; z-index: 9999;">
  <div class="container flex">
    <a href="/" class="nav-logo">Matt O'Tousa</a>
    <div class="flex-spacer"></div>
    <ul class="nav-links">
      <li>
        <a class="nav-link-text" href="/">Gallery</a>
      </li>
      <li>
        <a class="nav-link-text" href="/blog">Blog</a>
      </li>
      <li>
        <a class="nav-link-text" href="/about">About</a>
      </li>
      <li>
        <a class="icon-link nav-link-text" href="https://www.instagram.com/mattotousa/">
          <i class="lab la-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
{% endmacro header %}
<!-- -->
{% macro footer() %}
<footer>
  <div class="container flex">
    <div class="flex-spacer"></div>
    <ul class="nav-links">
      <li>
        <a class="icon-link nav-link-text" href="https://www.instagram.com/mattotousa/">
          <i class="lab la-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
{% endmacro footer %}
