{% extends "base.html" %}

{% import "macros/images.html" as images %}

{% block content %}

<script>

</script>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <ul class="gallery">
      {% set paintings_section = get_section(path="paintings/_index.md") %}
      {% for page in paintings_section.pages %}
        {% set image_path = page.path ~ 'img.png' %}
        <label for="{{image_path}}">
          <li>
            <img src="{{image_path}}" />
            <input type="checkbox" style="display: none" id="{{image_path}}"/>

            <!-- on click detail overlay --> 
            <div id="{{image_path}}" class="overlay">
              <div class="modal">
                <div class="content-container">
                  <img src="{{image_path}}" />
                  <div class="page-content">
                    <h1>
                      {{ page.title }}
                    </h1>
                    <div class="about-text">
                      <p>
                        {{ page.date }} <br />
                        {{ page.extra.width }}x{{ page.extra.height }}
                        {{ page.extra.medium }} on {{ page.extra.canvas }}
                      </p>
                    </div>
                    {{ page.content | safe }}
                </div>
                </div>
              </div>
            </div>

          </li>
        </label>
        </button>
      {% endfor %}
    </ul>
</div>

{% endblock content %}