{% extends "base.html" %}

{% block content %}
<ul class="links">
	<li>
		<a href="https://www.instagram.com/mattotousa/">
			<i class="lab la-instagram"></i>
			Instagram
		</a>
	</li>
	<li>
		<a href="https://twitter.com/mlotousa">
			<i class="lab la-twitter"></i>
			Twitter
		</a>
	</li>
	<li>
		<a href="https://tattomoosa.itch.io/">
			<i class="lab la-itch-io"></i>
			Games
		</a>
	</li>
	<li>
		<a href="https://mattotousa.dev">
			<i class="las la-terminal"></i>
			Software
		</a>
	</li>
</ul>
{% endblock content %}