{% extends "base.html" %}

{% block content %}
<div class="fill">
	<img src="/links-image/img.png" class="bg-img">
</div>
<ul class="links">
	<li>
		<a href="/">
			<i class="las la-globe-americas"></i>
			Website
		</a>
	</li>
	<!--
	<li>
		<a href="/blog">
			<i class="las la-quote-left"></i>
			Blog
		</a>
	</li>
	-->
	<li>
		<a href="https://www.instagram.com/mattotousa/">
			<i class="lab la-instagram"></i>
			Instagram
		</a>
	</li>
	<!--
	<li>
		<a href="https://twitter.com/mlotousa">
			<i class="lab la-twitter"></i>
			Twitter
		</a>
	</li>
	-->
	<!--
	<li>
		<a href="https://tattomoosa.itch.io/">
			<i class="lab la-itch-io"></i>
			Games
		</a>
	</li>
	-->
	<li>
		<a href="https://www.etsy.com/shop/MattOTousa">
			<i class="lab la-etsy"></i>
			Etsy
		</a>
	</li>
</ul>
{% endblock content %}